<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Todo List - Task details</title>
  </head>
  <body>
    <div class="container">
        <div class="raw">
            <div class="col-12">
                <h1>Task details</h1>

                <p><strong>Name : </strong> <%= task.name %></p>
                <p><strong>Description : </strong> <%= task.description %></p>
                <p><strong>Deadline : </strong> <%= task.deadline %></p>

                <a href="/task"><button type="button" class="btn btn-warning">Back to Todo List</button></a>
                <a href="/task/<%=task._id%>/edit"><button type="button" class="btn btn-primary">Edit</button></a>
                <button type="button" class="btn btn-danger" onclick="deleteTask()">delete</button>
            </div>
        </div>
    </div>
    <script>
        function deleteTask() {
            let id = '<%= task._id %>';
            console.log(id);
            $.ajax({
                type: "DELETE",
                url: "/task",
                data: JSON.stringify(
                    {
                        id: id
                    }
                ),
                contentType: 'application/json',
                success: window.location.replace('/task')
            });
        }
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>